/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-style: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* --------- RESET CSS -------- */

:root {
  --bleu-clair: #343f63;
  --orange: #ff5500;
  --font-heading: "Bruno Ace SC", sans-serif;
  --font-text: "Ubuntu", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

p {
  font-family: var(--font-text);
}

body {
  background: linear-gradient(to right, #0a0f2c, #1e2a5a, #0a0f2c);
}

.fav-nav {
  height: 70px;
  width: 120px;
  background: none;
  border: none;
  cursor: pointer;
}

.navbar {
  background-color: var(--bleu-clair);
  padding: 0 40px;
}

.games-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.card-body {
  width: 250px;
  height: 350px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  background-color: var(--bleu-clair);
  color: white;
  display: flex;
  flex-direction: column;
  border: solid 1px white;
}

.card-img {
  height: 75%;
  width: 100%;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 25%;
  padding: 10px;
}

.card-info h3 {
  font-size: 1.1rem;
  font-weight: 700;
}

.card-info h4 {
  font-size: 0.8rem;
  color: var(--orange);
  font-family: var(--font-text);
}

.platforms {
  display: flex;
  height: 20px;
  gap: 8px;
  font-size: 0.75rem;
}

.rate {
  color: var(--orange);
  font-family: var(--font-heading);
  font-size: 0.8rem;
}

.platforms-rate {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

header {
  background-image: url("assets/images/image-header-v2.png");
  height: 80vh;
  background-color: #2b2a34;
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
}

.header-text {
  max-width: 40ch;
  line-height: 1.5;
}

h1 {
  color: var(--orange);
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: 800;
}

.header-img {
  width: 40vh;
}

@media screen and (min-width: 900px) {
  header {
    flex-direction: row;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  }

  .header-img {
    width: 80vh;
  }
}

.searchbar {
  display: flex;
  align-items: center;
  justify-content: center;
  right: 14em;
  width: 30rem;
  height: 2.5rem;
  gap: 10px;
  background-color: orange;
  border-radius: 30px;
  padding: 0 20px;
  margin: 0px auto;
}

@media screen and (min-width: 500px) and (max-width: 900px) {
  .searchbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 300px;
    height: 50px;
  }
}

.searchbar input {
  background-color: transparent;
  border: none;
  outline: 0;
}

.searchbar ::placeholder {
  color: rgb(248, 229, 204);
  font-size: 1.1rem;
}

.loupe {
  height: 2rem;
  opacity: 0.8;
}

.Search {
  display: flex;
  justify-content: center;
}

.topgames {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card-body:hover {
  transform: scale(1.2);
  box-shadow: 0 10px 25px rgb(0, 0, 0, 0, 12);
}

h2 {
  text-align: center;
  font-size: 50px;
  color: white;
  margin-bottom: 20px;
}

.logo {
  height: 60px;
}

footer {
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 10px;
}

footer a {
  text-decoration: none;
  color: white;
}

.Page404 {
  background-color: #ffffff;
  font-style: oblique;
  font-size: medium;
  align-items: center;
}
