#SearchBar {
  display: flex;
  align-items: center;
  border: 2px solid blue;
  width: 30rem;
  height: 3rem;
  background-color: orange;
  border-radius: 30px;
  /*border: none;*/
}

.Search {
  display: flex;
  justify-content: center;
  img {
    width: 20px;
    background-color: red;
    /* margin-right: 20px;*/
  }
}
